# Use public npm registry for this project
registry=https://registry.npmjs.org/

# Use GitHub Packages for @derivco scope
@derivco:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}

# Disable authentication requirement for public packages
always-auth=false
